In [31]:
import boto3
import pandas as pd
import os

directory=r'C:\Users\A4023862\OneDrive - Astellas Pharma Inc\INT Workforce Planning\data\jd_data'

s3 = boto3.resource('s3', aws_access_key_id='AKIAUHGSEVS4FA33QNOJ',
aws_secret_access_key='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')
bucketname = 'jobpostingsprocessed'

n=len(os.listdir(directory))
df = pd.DataFrame()

for x in range(1, 3):
    filename = 'df'+str(x)+'.csv'
    obj = s3.Object(bucketname, filename)
    body = obj.get()['Body']
    data = pd.read_csv(body)
    df=df.append(data)
    print(filename)
    print(data.shape)

df1.csv
(50000, 7)
df2.csv
(50000, 7)

In [33]:
df.head()

,Unnamed: 0,category,company_description,company_name,job_description,job_title,uniq_id
0,value,Insurance,"Macy's, Inc., one of America’s most enduring, ...",Macy’s,About: Macy’s is proudly America’s Department ...,"Retail Merchandising Support Associate, Cherry...",d0a78fc099e8ed95d75c8f3a846b47da
1,value,Administrative,"In early 2019, CHI and Dignity Health united a...",CHI St. Luke's Health - The Woodlands Campus,Overview The Woodlands Hospital a primary and ...,Sr Administrative Assistant,39518fce7a75071018fce21a4b7604bf
2,value,Administrative,Pediatric Therapy Agency in the West Valley! W...,Wee Care Corporation,The Receptionist will be responsible for answe...,Receptionist,81f8062a3b453490f05b8f8c2fb5b0d9
3,value,Construction-or-facilities,"At Kleinfelder, we have been connecting great ...","Kleinfelder, Inc.","For over 50 years, Poggemeyer Design Group (PD...",CAD Designer,bcbc024078e116ccf4cd7d76925bef00
4,value,Computer-or-internet,"MUFG Union Bank, N.A. operates 355 branches, c...",MUFG,Do you want your voice heard and your actions ...,Client Insights & Business Process Manager - R...,dbe3732299be7f76dad98fb6d80eeef5

In [34]:
df['category'].unique()

array(['Insurance', 'Administrative', 'Construction-or-facilities',
       'Computer-or-internet', 'Retail', 'Manufacturing-or-mechanical',
       'Law-Enforcement-or-security', 'Restaurant-or-food-Service',
       'Healthcare', 'Engineering-or-architecture', 'Legal',
       'Hospitality-or-travel', 'Human-Resources',
       'Transportation-or-logistics', 'Accounting-or-finance',
       'Non-profit/volunteering', 'Customer-Service',
       'Marketing-or-advertising-or-pr', 'Banking-or-loans',
       'Education-or-training', 'Sales', 'Upper-Management-or-consulting',
       'Arts-or-entertainment-or-publishing', 'Telecommunications',
       'Real-Estate', 'Government-or-military', 'Pharmaceutical/bio-tech',
       'Restaurant/food Service', 'Transportation/logistics',
       'Upper Management/consulting', 'Human Resources',
       'Marketing/advertising/pr', 'Computer/internet',
       'Customer Service', 'Manufacturing/mechanical',
       'Construction/facilities', 'Arts/entertainment/publishing',
       'Banking/loans', 'Government/military', 'Engineering/architecture',
       'Accounting/finance', 'Education/training', 'Real Estate',
       'Law Enforcement/security', 'Hospitality/travel'], dtype=object)

In [37]:
df_biotech=df[df['category']=='Pharmaceutical/bio-tech', 'Healthcare']

In [46]:
df_biotech.groupby('company_name').count()['uniq_id'].reset_index(name='count').sort_values(['count'], ascending=False)

                       company_name  count
98                       CVS Health     15
299                         Labcorp      7
619                       WALGREENS      6
337  Memorial Hermann Health System      6
298                   Kroger Stores      5
..                              ...    ...
231                HNL Lab Medicine      1
232      Hackensack Meridian Health      1
233                          Haggen      1
234                       Hannaford      1
649                        vivitide      1

[650 rows x 2 columns]

In [48]:
df.to_csv(r'C:\Users\A4023862\OneDrive - Astellas Pharma Inc\INT Workforce Planning\data\test.csv')